<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.touched">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
      <p>Incorrect password.</p>
    </ion-item>

    <button ion-button block color="secondary" text-center type="submit" [disabled]="!loginForm.valid">Login</button>

  </form>

  <ion-buttons>
    <button ion-item block color="primary" text-center (click)="gotoSignup()">
      Create a new account
    </button>

    <button ion-item block clear color="danger" text-center (click)="gotoResetPassword()">
      I forgot my password
    </button>
  </ion-buttons>
</ion-content>