page-event-detail {
    ion-card-header { text-align: center; }
    
    .add-guest-form {
        button { margin-top: 16px; }
    }
    
    .profitable { color: #22BB22; }
    .no-profit { color: #FF0000; }

    .guest-name, .price-tag {
        margin-bottom: 8px;
    }
}