page-home {
    .scroll-content {
        background-image: url("../assets/imgs/home-bg.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
