<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Your name" [class.invalid]="!signupForm.controls.name.valid && blur"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.dirty">
      <p>Password should be of or more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && blur" ></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Password" [class.invalid]="!signupForm.controls.password.valid && blur"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      <p>Password should be of or more than 6 characters.</p>
    </ion-item>

    <button ion-button block color="seconday" text-center type="submit" [disabled]="!signupForm.valid">Register</button>

  </form>
</ion-content>